<div id="services" class="container-fluid text-center">
  <h2>SERVICES</h2>
  <h4>What we offer</h4>
  <br>
  <div class="row">
    <div class="col-sm-4 slideanim" appAnimate>
      <i class="fa fa-power-off logo-small"></i>
      <h4>POWER</h4>
      <p>Lorem ipsum dolor sit amet..</p>
    </div>
    <div class="col-sm-4 slideanim" appAnimate>
      <i class="fa fa-heart logo-small"></i>
      <h4>LOVE</h4>
      <p>Lorem ipsum dolor sit amet..</p>
    </div>
    <div class="col-sm-4 slideanim" appAnimate>
      <i class="fa fa-lock logo-small"></i>
      <h4>JOB DONE</h4>
      <p>Lorem ipsum dolor sit amet..</p>
    </div>
  </div>
  <br><br>
  <div class="row">
    <div class="col-sm-4 slideanim" appAnimate>
      <i class="fa fa-leaf logo-small"></i>
      <h4>GREEN</h4>
      <p>Lorem ipsum dolor sit amet..</p>
    </div>
    <div class="col-sm-4 slideanim" appAnimate>
      <i class="fa fa-certificate logo-small"></i>
      <h4>CERTIFIED</h4>
      <p>Lorem ipsum dolor sit amet..</p>
    </div>
    <div class="col-sm-4 slideanim" appAnimate>
      <i class="fa fa-wrench logo-small"></i>
      <h4>HARD WORK</h4>
      <p>Lorem ipsum dolor sit amet..</p>
    </div>
  </div>
</div>
